<%= form_with(model: @task, local: true) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation" >
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>
  <p><%= f.text_field :title %></p>
  <%= f.label :content %>
  <p><%= f.text_field :content %></p>
  <%= f.label :expired_at %>
  <p><%= f.date_field :expired_at %></p>
  <%= f.label :status %>
  <p><%= f.select :status, Task.statuses.keys, {include_blank: "選択してください"} %></p>
  <%= f.label :priority %>
  <p><%= f.select :priority, Task.priorities.keys, {include_blank: "選択してください"} %></p>
  <p><%= f.submit %></p>
<% end %>
<%= link_to t("view.link_to.back"), tasks_path, class: "btn btn-secondary" %>