<%= form_with(model: @task, local: true) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation" >
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.label :expired_at %>
  <%= f.date_field :expired_at %>
  <%= f.label :status %>
  <%= f.select :status, Task.statuses.keys, {include_blank: "選択してください"} %>
  <%= f.label :priority %>
  <%= f.select :priority, Task.priorities.keys, {include_blank: "選択してください"} %>
  <%= f.submit %>
<% end %>
<%= link_to t("view.link_to.back"), tasks_path %>