<h1><%= t("view.task.index") %></h1>

<main class="p-index">
<%= form_with(scope: :task, local: true, url: tasks_path, method: :GET) do |f| %>
  <%= f.label :title , t("view.task.title") %>
  <%= f.text_field :title %>
  <%= f.label :status, t("view.task.status") %>
  <%= f.select :status, Task.statuses.keys, {prompt: "選択してください"} %>
  <%= f.submit "検索" %>
<% end %><br>

<p><%= link_to t("view.link_to.new"), new_task_path, class: "btn btn-primary" %></p>
<p><%= @tasks.count %>件のタスクが表示されています</p>
<table class="p-index__introduce">
  <ul>
    <tbody class='task_expired_at'>
      <tr>
        <th><%= t("view.task.user_name") %></th>
        <th><%= t("view.task.title") %></th>
        <th><%= t("view.task.content") %></th>
        <th><%= link_to "終了期限", tasks_path(sort_expired: "true") %></th>
        <th><%= t("view.task.created_at") %></th>
        <th><%= t("view.task.status") %></th>
        <th><%= link_to "優先度", tasks_path(sort_priority: "true") %></th>
        <th><%= t("view.task.tag") %></th>
    </tbody>
    </tr>

    <tbody class='task_row'>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.user.name %></td>
          <td><%= task.title %></td>
          <td><%= task.content %></td>
          <td><%= task.expired_at %></td>
          <td><%= task.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td><%= task.status %></td>
          <td><%= task.priority %></td>
          <td><% task.tags.each do |tag| %>
            <label style="background-color: aquamarine"><%= tag.name %></label>
          <% end %></td>
          <td><%= link_to t("view.link_to.show"), task_path(task.id), class: "btn btn-outline-primary" %></td>
          <td><%= link_to t("view.link_to.edit"), edit_task_path(task.id), class: "btn btn-outline-secondary" %></td>
          <td><%= link_to t("view.link_to.destroy"), task_path(task.id), method: :delete, class: "btn btn-outline-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </ul>
</table>
<div class="p-index__paginate"><%= paginate(@tasks) %></div>
</main>