<h1><%= t("view.task.index") %></h1>

<table>
  <ul>
    <tr>
      <th><%= t("view.task.title") %></th>
      <th><%= t("view.task.content") %></th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= link_to t("view.link_to.show"), task_path(task.id) %></td>
        <td><%= link_to t("view.link_to.edit"), edit_task_path(task.id) %></td>
        <td><%= link_to t("view.link_to.destroy"), task_path(task.id), method: :delete %></td>
      </tr>
    <% end %>
  </ul>
</table>
<%= link_to t("view.link_to.new"), new_task_path %>