<h1><%= t("view.task.show") %></h1>

<p><%= t("view.task.title_show") %><%= @task.title %></p>
<p><%= t("view.task.content_show") %><%= @task.content %></p>
<p><%= t("view.task.expired_at") %><%= @task.expired_at %></p>
<p><%= t("view.task.status_show") %><%= @task.status %></p>
<%= link_to t("view.link_to.back"), tasks_path %>