<h1><%= t("view.user.account") %></h1>

<p><%= t("view.user.name") %><%= @user.name %></p>
<p><%= t("view.user.email") %><%= @user.email %></p>
<p><%= @user.tasks.size %><%= t("view.user.task_count") %></p>
<table>
  <ul>
    <tr>
      <th><%= t("view.task.title") %></th>
      <th><%= t("view.task.content") %></th>
      <th><%= t("view.task.expired") %></th>
      <th><%= t("view.task.created_at") %></th>
      <th><%= t("view.task.status") %></th>
      <th><%= t("view.task.priority") %></th>
      <th><%= t("view.task.tag") %></th>
    </tr>

    <% @user.tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.expired_at %></td>
        <td><%= task.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><% task.tags.each do |tag| %>
          <label style="background-color: aquamarine"><%= tag.name %></label>
        <% end %></td>
      </tr>
    <% end %>
  </ul>
</table>

<% if @user.admin? %>
  <%= link_to t("view.user.admin"), admin_users_path, class: "btn btn-primary" %>
<% end %>